<div class="container my-4">
       
    <div class="tab-pane fade show active" id="projects" role="tabpanel">
        <!-- Project Table -->
        <div class="row">
            <div class="col-12 text-end">
                <button class="btn btn-sucess me-2" routerLink="/new-project/0">New Project</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Project List</h3>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Client Name</th>
                    <th>Start Date</th>
                    <th>Lead By Employee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data rows go here -->
                 @for(item of projectList;track $index){
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.projectName}}</td>
                        <td>{{item.clientName}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.leadByEmpId}}</td>
                        <td>
                            <button type="button" class="btn btn-primary mt-3" (click)="onUpdateProject(item.projectId)">Edit</button>
                            <button type="button" class="btn btn-danger mt-3" (click)="onDeleteProject(item.projectId)">Delete</button>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>

    <!-- Project Employees Tab -->
    
</div>