<div class="row">
    <div class="col-8">
        <!-- Project Employees Table -->
         <div class="card">
            <div class="card-header bg-warning">
                <h5>Project Employees List</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Emp Project ID</th>
                            <th>Project</th>
                            <th>Employee</th>
                            <th>Assigned Date</th>
                            <th>Role</th>
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data rows go here -->
                         @for (item of projectEmployeeList(); track $index) {
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.employeeName}}</td>
                                <td>{{item.assignedDate}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.isActive}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary mt-3">Edit</button>
                                    <button type="button" class="btn btn-danger mt-3">Delete</button>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
         </div>
    </div>
    <div class="col-4">
        <!-- Project Employee Form -->
         <div class="card">
            <div class="card-header bg-warning">
                <h5> Add New Project Employees</h5>
            </div>
            <div class="card-body">
                <form class="mb-4" [formGroup]="empProjectForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="projectId" class="form-label">Project ID</label>
                            <select class="form-select" formControlName="projectId">
                                <option value="" selected>Please Select</option>
                                @for (item of projectList$ |async; track $index) {
                                    <option [value]="item.projectId">{{item.projectName}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="empId" class="form-label">Employee ID</label>
                            <select class="form-select" formControlName="empId">
                                <option value="" selected>Please Select</option>
                                @for (item of employeeList$|async; track $index) {
                                    <option [value]="item.employeeId">{{item.employeeName}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="assignedDate" class="form-label">Assigned Date</label>
                            <input type="date" class="form-control" formControlName="assignedDate" id="assignedDate">
                        </div>
                        <div class="col-md-6">
                            <label for="roleProjectEmployee" class="form-label">Role</label>
                            <input type="text" class="form-control" formControlName="role" id="role" placeholder="Enter role">
                        </div>
                        <div class="col-md-6">
                            <label for="roleProjectEmployee" class="form-label">IsActive</label>
                            <input type="checkbox" formControlName="isActive" id="isActive">
                        </div>
                    </div>
                    <button type="button" (click)="onSave()" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
         </div>
    </div>
</div>